/*CSS properties for modal*/

.modal1{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    
}

.modal-content1{
    background-color: white;
    margin: 15% auto;
    padding: 1%;
    border: 1px solid white;
    width: 30%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5); /*Added Shadow to modal box just for visual appeal.*/
    border-radius: 4%;
}

/*Close button CSS code*/
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
/*makes the close button black from grey on hover and changes cursor to pointer*/
.close:hover,
.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content1 h1 {
    color: black;
    text-align: center;                     /*Heading of the modal at the centre of modal*/
    font-family: 'Montserrat', sans-serif; 
    
           /*Changed the font of heading of modals to satify cursive just for visual appeal.*/
}

/*CSS for form and input fields in the modal*/
label {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
    margin-top: 20px;
}


input {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;;
    padding: 10px 0;
    background-color: rgba(170, 170, 170, 0.2);
    border : 0;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.formParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*CSS for button inside modal.*/
.signbutton {
    padding: 2%;
    font-size: 20px;
    border-radius: 2%;
    background-color:black;
    border: black;
    color: white;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;;

}

/*CSS for the signup anchor tag in the sign in modal.*/
#signup-anchor{
    font-weight: bold;
}

#signup-anchor:hover{
    cursor: pointer;
}

/*CSS for the text below sign in button*/
form p{

    text-align: center;
    font-family: sans-serif;
}

.carousel-item{
    height: 68rem;
    background-color:white;
    color:white;
   
   
    

}
.carousel-item img{
    width: 100%;

}

.btm{
    bottom: 50%;
}

.service{
    padding:0 10%;
    position: relative;
    top: 45rem;
}

.blog{
    padding: 0 10%
}

.card{
    
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
     cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.hover {
    overflow: hidden;
    position: relative;
    padding-bottom: 60%;
  }
  
  .hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    transition: all 0.4s;
  }
  
  .hover img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
  }
  
  .hover-content {
    position: relative;
    z-index: 99;
  }
  

.hover-2 .hover-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
  }
  
  .hover-2-title {
    position: absolute;
    top: 10%;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 99;
    transition: all 0.3s;
  }
  
  .hover-2-description {
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    left: 0;
    text-align: center;
    z-index: 99;
    transition: all 0.3s;
  }
  
  .hover-2:hover .hover-2-title {
    transform: translateY(-1.5rem);
  }
  
  .hover-2:hover .hover-2-description {
    bottom: 0.5rem;
    opacity: 1;
  }
  
  .hover-2:hover .hover-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
  }
  

/*Increases modal width when window width decreases. Just for visual appearance*/
@media (max-width: 1000px) {

    .modal-content1{
        width: 80%;
    }
    .form{
        width: 80%;
    }

}